import React from 'react';
import './{{pascalCase name}}.css';

interface {{pascalCase name}}Props {

}

const {{pascalCase name}}: React.FC< {{pascalCase name}}Props > = props => {
  return (
    <div>
      {{pascalCase name}}
    </div>
  );
};

export default {{pascalCase name}};